<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Página inicial</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<link href="/css/non-responsive.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/estilo.css" rel="stylesheet" />

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
	
	<div style="height:50px;">
		<a href="novo">Cadastrar novo Funcionário</a>	
	</div>
	<div id="wrapper">
						
			<h1>Sistema RH</h1>
		
		
		<table id="keywords" cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th><span>Id</span></th>
					<th><span>Nome</span></th>
					<th><span>Vaga</span></th>
					<th><span>Quantidade de Dependentes</span></th>
					<th><span>Salário</span></th>
					<th><span>Ações</span></th>
				</tr>
			</thead>
			<tbody>
				<!-- for(Livro livro: Livros) -->
				<!-- Isso aqui em cima é um ForEach -->
				<tr th:each="funcionario: ${listafuncionarios}">
					<td th:text="${funcionario.Id}">Id</td>
					<td class="lalign" th:text="${funcionario.nome}">Nome</td>
					<td class="lalign" th:text="${funcionario.cargo}">Vaga</td>
					<td th:text="${funcionario.quantidadeDependentes}">Quantidade de Dependentes</td>
					<td th:text="${funcionario.salario}">Salário</td>
					<td>
						<a th:href="@{'/editar/'+ ${funcionario.id}}" class="button green"><span><i class="fa fa-edit"></i></span></a>
						
						<a th:href="@{'/deletar/'+ ${funcionario.id}}" class="button red"><span><i class="fa fa-trash"></i></span></a>
					</td>
					<td>
						
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>