
body{
 /* background: white;*/
 background: #eee url('https://i.imgur.com/ovzNzyM.png');
}

form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /*background: rgba(0,80,170,.50);*/
  background: rgba(107,147,240,0.85);
  padding: 100px;
}

label{
 font-family: sans-serif;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-size: .8em;
  color: #FFF;
}

input[type=text]{
  display: inline-block;
  /*border: none;*/
  border: 2px solid rgba(0,0,214,0.15);
  text-align: left;
  /*box-shadow: 3px 2px rgba(121, 83, 210,.3 );*/
  box-shadow: 3px 2px rgba(0,0,125,0.4);
  padding: 10px;
  width: 350px;
  margin: 10px 0;
  background: transparent;
  color: #FFF;
}

input[type=text]:focus{
  background: none;
  border: none;
  color: #FFF;
  
}

button{
  background: transparent;
  color: #FFF;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px 0;
  padding: 10px 30px;
  /*border: 2px solid #FFF;*/
  border: 2px solid rgba(0,0,125,0.4);
}

button:hover{
  background: transparent;
  border: 2px solid rgba(69, 39, 160, .4);
  /*border: 2px solid rgba(69, 39, 160, .8);*/
}

a{
 text-decoration:none;
 color:rgba(69, 39, 160, .4);
}

a.button,div.container{
 
}

a.button{
  background: transparent;
  color: #FFF;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px 0;
  padding: 10px 30px;
  border: 2px solid rgba(0,0,125,0.4);
}

a.button:hover{
	border: 2px solid rgba(69, 39, 160, .4);
}